* { box-sizing: border-box; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; } 

#mc_embed_signup{ clear:left; font:14px Helvetica,Arial,sans-serif; }

body {
    font-size: 100%;
    font-family: 'Open Sans', 'Lucida Grande', Helvetica, sans-serif;
}

body, h1, h2, h3, h4, h5, h6 {
    color: #394247;
}

h1, h2, h3, h4, h5, h6 {
    color: #4b4b4b;
    font-family: 'ostrichrounded';
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#main {
  font-size: 1em;
  line-height: 1.25;
}


#container {
    min-height: 100%;
    position: relative;
}

#header {
    border-top: 4px solid #63c1f8;
}

#id_social {
    padding-bottom: 5.0em;
}

a:visited,
a {
  text-decoration: none;
  color: #54b1e9;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 8px;
    background: #29832e;
    width: 100%;
}

form#mc-embedded-subscribe-form input[type=email] {
    width: 80%;
    float: left;
    padding: 12px 10px;
    border-radius: 3px 0px 0px 3px;
    border-color: #4b4b4b;
    font-family: "ostrichrounded";
    font-size: 2em;

    -webkit-transition: all 0.333s ease-in-out;
    -moz-transition: all 0.333s ease-in-out;
    -ms-transition: all 0.333s ease-in-out;
    -o-transition: all 0.333s ease-in-out;
    transition: all 0.333s ease-in-out;
}

form#mc-embedded-subscribe-form:hover input[type=submit] {
    background: #63c1f8;
}

form#mc-embedded-subscribe-form:hover input[type=submit],
form#mc-embedded-subscribe-form:hover input[type=email] {
    border-color: #63c1f8;
}

form#mc-embedded-subscribe-form input[type=submit] {
    display: inline;
    float: right;
    width: 20%;
    padding: 12px 10px;
    margin: 0;
    border-radius: 0px 3px 3px 0px;
    background: #4b4b4b;
    color: white;
    border-color: #4b4b4b;
    font-family: "ostrichrounded";
    font-size: 2em;

    -webkit-transition: all 0.333s ease-in-out;
    -moz-transition: all 0.333s ease-in-out;
    -ms-transition: all 0.333s ease-in-out;
    -o-transition: all 0.333s ease-in-out;
    transition: all 0.333s ease-in-out;
}

hgroup { text-align: center; margin-top: 48px; }
hgroup img { padding-bottom:3px; border: 1px solid #63c1f8; }
#twitter-share { text-align: center; margin: 0pt auto; padding-left:32px; }

#map { min-height: 300px; }

.group > .wrapped {
  width: 320px;
  margin: 0pt auto;
}

.group > h2 {
  font-size:2.5em;
  padding-bottom: 6px;
  text-align: center;
  margin-bottom:18px;
  position: relative;
}

.group h3 {
  font-size:1.75em;
  line-height: 1.0;
}

@media (min-width: 321px) {
  .group > .wrapped {
    width: 460px;
    margin: 0pt auto;
  }

  .organizer {
    width: 208px;
  }
}

@media (min-width: 960px) {
  .group > .wrapped {
    width: 960px;
    margin: 0pt auto;
  }

  .aside {
    width:288px;
    float:left;
  }

  .aside h3 {
    margin-top:0.333em;
    margin-bottom:0.5em;
  }

  .organizer {
    width: 220px;
  }
}

#portland_long_shot {
  background: url(../img/portland.jpg) 50% 50% no-repeat fixed;
  height: 288px;
}

p {
  line-height: 1.66;
}

#id_main h1 {
    font-size: 5.0em;
    text-align: center;
    margin-bottom: 0;
    line-height: 0;
    margin-top: 1.25em;
    padding-bottom: 0.25em;
}

#id_main #year {
  color: black;
}

#highlight_dates:after {
    content:'\2794';
    padding-left: 6px;
}

#highlight_location {
}

#highlights + p {
  margin-top: 1.333em;
}

#tickets_cta a:visited,
#tickets_cta a {
    color: white;
    text-decoration: none;
    display: block;
    background-color: #64c1f9; 
    padding:0.3em 0;
    border: 1px solid white;
}

#tickets_cta a:hover {
    color: #64c1f9;
    border: 1px solid #64c1f9;
    background-color: white;
}


#tickets_cta {
    background-color: #64c1f9; 
    padding:0.1em;
    width: 460px;
    margin: 0pt auto;
    margin-top:0.666em;
    font-size:3.0em;
    text-align:center;
}

#highlights {
  border-top: 1px solid #4b4b4b;
  width: 392px; 
  margin: 0pt auto;
  margin-top: 0.75em;
  padding-top: 0.5em;
  position: relative;
  font-family: 'ostrichblack';
  font-size: 1.5em;
  text-align: center;
}

#logo_container {
  padding-top: 12em;
  background: #64c1f9;
}

.sub-page #logo_container {
  padding-top: 0;
}

.sub-page #logo_container #logo {
  width: 36px;
}

.sub-page #id_main h1 {
  font-size: 2.5em;
  padding-bottom: 0.666em;
  border-bottom: 1px solid #4b4b4b;
}

#logo_container #logo {
  position:relative;
  bottom: -20px;
  margin: 0pt auto;
  text-align: center;
  width: 75px;
  display: block;
}

#id_main .wrapped {
}

#speakers {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.speaker {
  margin: 0;
  padding: 0;
  width: 188px;
  display: inline-block;
  text-align: center;
  margin-bottom: 0.75em;
  vertical-align: top;
}

.speaker .talk {
  display:inline-block;
}

.speaker > a {
  display: block;
  text-decoration: none;
}

.speaker > a > span {
  font-size: 0.75em;
}

.speaker > a > span:before {
  content: '?';
  font-size: 5.0em;
  font-family: 'ostrichrounded';
  color: rgba(255, 255, 255, 0.8);
  background-color: #7dc8b6;
  background-size: contain;
  display: block;
  width: 188px;
  height: 188px;
  line-height:3.0;
  transition: all 0.5s ease-in-out;
}

.speaker:hover > a > span:before {
  font-size: 10em;
  line-height: 1.5;
}

.speaker:nth-child(7n + 1) > a > span:before,
.speaker:nth-child(2n + 1) > a > span:before {
  background-color: #92dba9;
}

.speaker:nth-child(3n + 2) > a > span:before,
.speaker:nth-child(8n + 2) > a > span:before {
  background-color: #64c1f9;
}


#id_schedule table {
  width: 100%;
  vertical-align: bottom;
}

#id_schedule td {
  padding-bottom: 12px;
}

#id_schedule tbody tr:first-child td {
  padding-top: 10px;
}

#id_schedule thead th {
  padding-bottom: 5px;
  border-bottom: 1px solid #EEE;
}

#id_schedule th {
  font-size: 0.85em;
  vertical-align: bottom;
}

.schedule_day_time,
.schedule_time {
  text-align: right;
}

.schedule_day_one,
.schedule_day_two,
.schedule_event {
  text-align: left;
  padding-left: 12px;
}

.sponsor-group {
  text-align: center;
}

.sponsor { 
  display: inline-block;
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
}

.sponsor a {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
}

.tera .sponsor {
  width: 48%;
}

.giga .sponsor {
  width: 33%;
}

.mega .sponsor {
  width: 25%;
}


.andyet {
  background-image: url('../img/sponsors/andyet.svg');
  height: 200px; 
}

.uplift {
  background-image: url('../img/sponsors/uplift.svg');  
  height: 200px; 
}

.twilio {
  background-image: url('../img/sponsors/twilio.png');  
  height: 110px; 
}

.sauce-labs {
  background-image: url('../img/sponsors/sauce-labs.png');  
  height: 110px; 
}

.esri {
  background-image: url('../img/sponsors/esri.svg');  
  height: 110px; 
  position: relative;
  left: -2%;
}

.github {
  background-image: url('../img/sponsors/github.png');  
  height: 110px; 
}

.concurix {
  background-image: url('../img/sponsors/concurix.png');
  height: 45px; 
  position: relative;
  right: -2%;
}

.digital-ocean {
  background-image: url('../img/sponsors/digital-ocean.png');
  height: 45px; 
  position: relative;
  right: -2%;
}

.orchestrate {
  background-image: url('../img/sponsors/orchestrate.png');
  height: 45px; 
  position: relative;
  right: -2%;
}

.craigslist {
  background-image: url('../img/sponsors/craigslist.png');
  height: 45px; 
  position: relative;
  right: -2%;
}

/* andyet uplift twilio esri sauce-labs github concurix digital-ocean*/
.esri, .sauce-labs, .andyet, .uplift, .twilio, .github, .concurix, .digital-ocean, .orchestrate, .craigslist{
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top left;
  overflow:hidden;
  text-indent: -9999px;
}

.organizer {
    margin: 0;
    padding: 0;
    display: inline-block;
    text-align: center;
    margin-bottom: 0.75em;
    vertical-align: top;
    padding-left: 6px;
}

.speaker > h3,
.organizer > h3 {
    background: #7dc8b6;
    margin-bottom: 0.25em;
    padding: 8px 0px;
    color: white;
    position: relative;
}

.speaker > h3:after,
.organizer > h3:after {
    width: 0;
    height: 0;
    border: 16px solid transparent;
    border-top-color: #7dc8b6;
    content: ' ';
    display: block;
    position: absolute;
    bottom: -32px;
    left: 86px;
}

.speaker > h3:after {
    left: 76px;
}

.speaker:nth-child(7n + 1) > h3:after,
.speaker:nth-child(2n + 1) > h3:after,
.organizer:nth-child(7n + 1) > h3:after,
.organizer:nth-child(2n + 1) > h3:after {
    border-top-color: #92dba9;
}

.speaker:nth-child(7n + 1) > h3,
.speaker:nth-child(2n + 1) > h3,
.organizer:nth-child(7n + 1) > h3,
.organizer:nth-child(2n + 1) > h3 {
    background: #92dba9;
}

.speaker:nth-child(3n + 2) > h3:after,
.speaker:nth-child(8n + 2) > h3:after,
.organizer:nth-child(3n + 2) > h3:after,
.organizer:nth-child(8n + 2) > h3:after {
    border-top-color: #64c1f9;
}

.speaker:nth-child(3n + 2) > h3,
.speaker:nth-child(8n + 2) > h3,
.organizer:nth-child(3n + 2) > h3,
.organizer:nth-child(8n + 2) > h3 {
    background: #64c1f9;
}


.organizer > p {
    font-size: 0.75em;
}

.organizer > img {
    width: 100%;
    margin-bottom: 0.5em;
}

.organizer > a {
    margin-bottom: 0px;
}

.speaker > .avatar {
    width: 100%;
    height: 188px;
    background-size: contain;
}


._0953b75cd018be4c5bc5ebe973616df4 > .avatar {
background-image: url(../img/humans/0953b75cd018be4c5bc5ebe973616df4.jpg);
}
._0c4d6916a7c2d340476039ec1ea3fd39 > .avatar {
background-image: url(../img/humans/0c4d6916a7c2d340476039ec1ea3fd39.jpg);
}
._16d601b0f54b0a143fc1ae2ebbb8bbf6 > .avatar {
background-image: url(../img/humans/16d601b0f54b0a143fc1ae2ebbb8bbf6.jpg);
}
._21f5ac037e54be55ae61adc87e401eb7 > .avatar {
background-image: url(../img/humans/21f5ac037e54be55ae61adc87e401eb7.jpg);
}
._30c0f54f30fc6a201e3f5ddaa5bc5974 > .avatar {
background-image: url(../img/humans/30c0f54f30fc6a201e3f5ddaa5bc5974.jpg);
}
._43c5ba821778b1db8660b5625bab6481 > .avatar {
background-image: url(../img/humans/43c5ba821778b1db8660b5625bab6481.jpg);
}
._44c00253ab6c0e681820c82e9a2264d1 > .avatar {
background-image: url(../img/humans/44c00253ab6c0e681820c82e9a2264d1.jpg);
}
._5c0b7f7cbe062e33981a602aae1d02c0 > .avatar {
background-image: url(../img/humans/5c0b7f7cbe062e33981a602aae1d02c0.jpg);
}
._6484026a4631aa43dd283dea00d57fd9 > .avatar {
background-image: url(../img/humans/6484026a4631aa43dd283dea00d57fd9.jpg);
}
._6fb7bae865c0f17d43813bf1d743b6b4 > .avatar {
background-image: url(../img/humans/pixel_6fb7bae865c0f17d43813bf1d743b6b4.jpg);
}
._70145d936950b9533f82bf7184da06d0 > .avatar {
background-image: url(../img/humans/70145d936950b9533f82bf7184da06d0.jpg);
}
._727ec524f99d72d3f20cf0a762fe97af > .avatar {
background-image: url(../img/humans/727ec524f99d72d3f20cf0a762fe97af.jpg);
}
._7f54302f4c8c0043ef726b2eaaca49bf > .avatar {
background-image: url(../img/humans/7f54302f4c8c0043ef726b2eaaca49bf.jpg);
}
._a1235655d050dda0680516581010d2ef > .avatar {
background-image: url(../img/humans/a1235655d050dda0680516581010d2ef.jpg);
}
._a531f70601f2dcc2a7b3af5863d9df62 > .avatar {
background-image: url(../img/humans/a531f70601f2dcc2a7b3af5863d9df62.jpg);
}
._ad6aedaf124d870586eb8f6c4b66ff35 > .avatar {
background-image: url(../img/humans/ad6aedaf124d870586eb8f6c4b66ff35.jpg);
}
._rdy > .avatar {
background-image: url(../img/humans/rdy.jpg);
}
._ba0668208a6e892c6849d75e083c4b41 > .avatar {
background-image: url(../img/humans/pixel_ba0668208a6e892c6849d75e083c4b41.jpg);
}
._bd7e3ea516f2ad64bdac00b65c847368 > .avatar {
background-image: url(../img/humans/pixel_bd7e3ea516f2ad64bdac00b65c847368.jpg);
}
._c67155597e8ec43c1cdb3dd80d9ffa43 > .avatar {
background-image: url(../img/humans/pixel_c67155597e8ec43c1cdb3dd80d9ffa43.jpg);
}
._d43e8ea63b61e7669ded5b9d3c2e980f > .avatar {
background-image: url(../img/humans/pixel_d43e8ea63b61e7669ded5b9d3c2e980f.jpg);
}
._ef47bd7393961d4d17e11266a0e8ece8 > .avatar {
background-image: url(../img/humans/ef47bd7393961d4d17e11266a0e8ece8.jpg);
}
._ff2b789c4df94861fe093d6b2ca4370b > .avatar {
background-image: url(../img/humans/pixel_ff2b789c4df94861fe093d6b2ca4370b.jpg);
}

#accent {
    position: relative;
}

#accent:before {
    content: '\00B4';
    position: absolute;
    font-size: 0.5em;
    left: 2px;
    top: -2px;
}
